<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  TODO: xmlCopyRight.txt
   
  -->
<!--
  TODO: xmlReadme.txt
   
  -->

<!-- <mapper resource="org/r3/db/sailevent/applicationview/SailApplicationViewMapper.xml"/> -->
<mapper namespace="org.r3.db.sailevent.applicationview.SailApplicationViewMapper" >
    <resultMap id="BaseResultMap" type="org.r3.db.sailevent.applicationview.SailApplicationViewDTO" >
         <result column="eventid" property="eventid" jdbcType="VARCHAR" />
           <result column="applicationid" property="applicationid" jdbcType="VARCHAR" />
           <result column="userid" property="userid" jdbcType="VARCHAR" />
           <result column="completionstatus" property="completionstatus" jdbcType="VARCHAR" />
           <result column="verificationstatus" property="verificationstatus" jdbcType="VARCHAR" />
           <result column="adminchecks" property="adminchecks" jdbcType="VARCHAR" />
           <result column="plate" property="plate" jdbcType="VARCHAR" />
           <result column="sailnumber" property="sailnumber" jdbcType="VARCHAR" />
           <result column="yachtname" property="yachtname" jdbcType="VARCHAR" />
           <result column="yachtclub" property="yachtclub" jdbcType="VARCHAR" />
           <result column="yachttype" property="yachttype" jdbcType="VARCHAR" />
           <result column="mooringloc" property="mooringloc" jdbcType="VARCHAR" />
           <result column="yachtbsf" property="yachtbsf" jdbcType="REAL" />
           <result column="yachtgph" property="yachtgph" jdbcType="REAL" />
           <result column="racegroup" property="racegroup" jdbcType="VARCHAR" />
           <result column="raceclass" property="raceclass" jdbcType="VARCHAR" />
           <result column="apptype" property="apptype" jdbcType="VARCHAR" />
           <result column="ownerid" property="ownerid" jdbcType="VARCHAR" />
           <result column="ownerfirstname" property="ownerfirstname" jdbcType="VARCHAR" />
           <result column="ownerlastname" property="ownerlastname" jdbcType="VARCHAR" />
           <result column="owneremail" property="owneremail" jdbcType="VARCHAR" />
           <result column="ownercellphone" property="ownercellphone" jdbcType="VARCHAR" />
           <result column="rectimestamp" property="rectimestamp" jdbcType="TIMESTAMP" />
    </resultMap>

  <sql id="Filter_Where_Clause" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.subSelectCriterion" >
                  and ${criterion.prefixCondition} #{criterion.value} ${criterion.suffixCondition}
                </when>                                
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    eventid,  applicationid,  userid,  completionstatus,  verificationstatus,  adminchecks,  plate,  sailnumber,  yachtname,
  yachtclub,  yachttype,  mooringloc,  yachtbsf,  yachtgph,  racegroup,  raceclass,  apptype,  ownerid,
  ownerfirstname,  ownerlastname,  owneremail,  ownercellphone,  rectimestamp  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="filter != null &amp;&amp; filter.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sev_view_application
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <if test="filter != null &amp;&amp; filter.orderByClause != null" >
      order by ${filter.orderByClause}
    </if>
    <if test="filter != null &amp;&amp; filter.limitFetch > 0" >
      limit ${filter.limitFetch}
    </if>
  </select>
  <select id="count" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from sev_view_application
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>  
</mapper>
