<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  TODO: xmlCopyRight.txt
   
  -->
<!--
  TODO: xmlReadme.txt
   
  -->

<!-- <mapper resource="org/r3/db/project/wbsnodeteammemberprofile/WBSNodeTeamMemberProfileMapper.xml"/> -->
<mapper namespace="org.r3.db.project.wbsnodeteammemberprofile.WBSNodeTeamMemberProfileMapper" >
    <resultMap id="BaseResultMap" type="org.r3.db.project.wbsnodeteammemberprofile.WBSNodeTeamMemberProfileDTO" >
         <id column="profileid" property="profileid" jdbcType="VARCHAR" />
           <id column="wbsnodeid" property="wbsnodeid" jdbcType="VARCHAR" />
           <result column="effort" property="effort" jdbcType="REAL" />
           <result column="uniteffort" property="uniteffort" jdbcType="VARCHAR" />
           <result column="recstatus" property="recstatus" jdbcType="VARCHAR" />
           <result column="rectimestamp" property="rectimestamp" jdbcType="TIMESTAMP" />
    </resultMap>

  <sql id="Filter_Where_Clause" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.subSelectCriterion" >
                  and ${criterion.prefixCondition} #{criterion.value} ${criterion.suffixCondition}
                </when>                                
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <!--
  <sql id="Filter_Where_Clause_4_Update" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  -->  
  <sql id="Base_Column_List" >
    profileid,  wbsnodeid,  effort,  uniteffort,  recstatus,  rectimestamp  </sql>
  <select id="selectByProfileidWbsnodeid" resultMap="BaseResultMap" parameterType="HashMap" >
    select 
    <include refid="Base_Column_List" />
    from prj_wbsnodeteammemberprofile
    where  profileid = #{profileid,jdbcType=VARCHAR} and  wbsnodeid = #{wbsnodeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByProfileidWbsnodeid" parameterType="HashMap" >
    delete
    from prj_wbsnodeteammemberprofile
    where  profileid = #{profileid,jdbcType=VARCHAR} and  wbsnodeid = #{wbsnodeid,jdbcType=VARCHAR}
  </delete>  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from prj_wbsnodeteammemberprofile    
    where  profileid = #{pk.profileid,jdbcType=VARCHAR} and  wbsnodeid = #{pk.wbsnodeid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete
    from prj_wbsnodeteammemberprofile
    where  profileid = #{pk.profileid,jdbcType=VARCHAR} and  wbsnodeid = #{pk.wbsnodeid,jdbcType=VARCHAR}
  </delete>  
  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="filter != null &amp;&amp; filter.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prj_wbsnodeteammemberprofile
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <if test="filter != null &amp;&amp; filter.orderByClause != null" >
      order by ${filter.orderByClause}
    </if>
    <if test="filter != null &amp;&amp; filter.limitFetch > 0" >
      limit ${filter.limitFetch}
    </if>
  </select>
  <select id="count" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from prj_wbsnodeteammemberprofile
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>  
  <delete id="delete" parameterType="map" >
    delete from prj_wbsnodeteammemberprofile
    <!-- _parameter: dato che e' una map lo sostituisco con il nome del parametro in quanto non è l'unico -->
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into prj_wbsnodeteammemberprofile (
 profileid, wbsnodeid, effort, uniteffort, recstatus, rectimestamp      )
    values (
 
 #{record.profileid,jdbcType=VARCHAR}, 
 #{record.wbsnodeid,jdbcType=VARCHAR}, 
 #{record.effort,jdbcType=REAL}, 
 #{record.uniteffort,jdbcType=VARCHAR},
 
 #{record.recstatus,jdbcType=VARCHAR}, 
 #{record.rectimestamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="update" parameterType="map" >
    update prj_wbsnodeteammemberprofile
    <set >
      <if test="record.effortDirty" >
        effort = #{record.effort,jdbcType=REAL},
      </if>      
      <if test="record.uniteffortDirty" >
        uniteffort = #{record.uniteffort,jdbcType=VARCHAR},
      </if>      
      <if test="record.recstatusDirty" >
        recstatus = #{record.recstatus,jdbcType=VARCHAR},
      </if>      
      <if test="record.rectimestampDirty" >
        rectimestamp = #{record.rectimestamp,jdbcType=TIMESTAMP},
      </if>      
    </set>
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
      <!-- Non dovrebbe servire in quanto il filter e' sempre named. -->
      <!-- <include refid="Filter_Where_Clause_4_Update" /> -->
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update prj_wbsnodeteammemberprofile
    <set >
      <if test="record.effortDirty" >
        effort = #{record.effort,jdbcType=REAL},
      </if>
      <if test="record.uniteffortDirty" >
        uniteffort = #{record.uniteffort,jdbcType=VARCHAR},
      </if>
      <if test="record.recstatusDirty" >
        recstatus = #{record.recstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.rectimestampDirty" >
        rectimestamp = #{record.rectimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where  profileid = #{record.profileid,jdbcType=VARCHAR} and  wbsnodeid = #{record.wbsnodeid,jdbcType=VARCHAR}
  </update>

</mapper>
