<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  TODO: xmlCopyRight.txt
   
  -->
<!--
  TODO: xmlReadme.txt
   
  -->



<!-- <mapper resource="org/r3/db/sailevent/attendancesheetview/SailAttendanceSheetViewMapper.xml"/> -->
<mapper namespace="org.r3.db.sailevent.attendancesheetview.SailAttendanceSheetViewMapper" >
    <resultMap id="BaseResultMap" type="org.r3.db.sailevent.attendancesheetview.SailAttendanceSheetViewDTO" >
         <result column="eventid" property="eventid" jdbcType="VARCHAR" />
           <result column="applicationid" property="applicationid" jdbcType="VARCHAR" />
           <result column="yachtname" property="yachtname" jdbcType="VARCHAR" />
           <result column="plate" property="plate" jdbcType="VARCHAR" />
           <result column="sailnumber" property="sailnumber" jdbcType="VARCHAR" />
           <result column="completionstatus" property="completionstatus" jdbcType="VARCHAR" />
           <result column="sheetid" property="sheetid" jdbcType="VARCHAR" />
           <result column="attendanceyesparam" property="attendanceyesparam" jdbcType="VARCHAR" />
           <result column="attendanceyes" property="attendanceyes" jdbcType="VARCHAR" />
           <result column="crewregularparam" property="crewregularparam" jdbcType="VARCHAR" />
           <result column="crewregular" property="crewregular" jdbcType="VARCHAR" />
    </resultMap>

  <sql id="Filter_Where_Clause" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose>
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.subSelectCriterion" >
                  and ${criterion.prefixCondition} #{criterion.value} ${criterion.suffixCondition}
                </when>                                
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    eventid,  applicationid,  yachtname,  plate,  sailnumber,  completionstatus,  sheetid,  attendanceyesparam,  attendanceyes,
  crewregularparam,  crewregular  </sql>
  
  <sql id='GroupBy_Column_List'>
    <trim suffixOverrides=",">
        <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('eventid')" >
           eventid,
       </when>
       <otherwise>
           null as eventid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('applicationid')" >
           applicationid,
       </when>
       <otherwise>
           null as applicationid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('yachtname')" >
           yachtname,
       </when>
       <otherwise>
           null as yachtname,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('plate')" >
           plate,
       </when>
       <otherwise>
           null as plate,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('sailnumber')" >
           sailnumber,
       </when>
       <otherwise>
           null as sailnumber,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('completionstatus')" >
           completionstatus,
       </when>
       <otherwise>
           null as completionstatus,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('sheetid')" >
           sheetid,
       </when>
       <otherwise>
           null as sheetid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('attendanceyesparam')" >
           attendanceyesparam,
       </when>
       <otherwise>
           null as attendanceyesparam,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('attendanceyes')" >
           attendanceyes,
       </when>
       <otherwise>
           null as attendanceyes,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('crewregularparam')" >
           crewregularparam,
       </when>
       <otherwise>
           null as crewregularparam,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('crewregular')" >
           crewregular,
       </when>
       <otherwise>
           null as crewregular,
       </otherwise>         
     </choose> 
	       </trim>       
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="filter != null &amp;&amp; filter.distinct" >
      distinct
    </if>
    <choose>
       <when test="filter != null &amp;&amp; filter.groupByClause != null">
           <include refid="GroupBy_Column_List" />
       </when>
       <otherwise>
           <include refid="Base_Column_List" />
       </otherwise>
    </choose>
    
    from sev_view_attendanceesheet
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <if test="filter != null &amp;&amp; filter.groupByClause != null" >
      group by ${filter.groupByClause}
    </if>    
    <if test="filter != null &amp;&amp; filter.orderByClause != null" >
      order by ${filter.orderByClause}
    </if>
    <if test="filter != null &amp;&amp; filter.limitFetch > 0" >
      limit ${filter.limitFetch}
    </if>
  </select>
  <select id="count" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from sev_view_attendanceesheet
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>  
</mapper>
