##
##
## $siteDTO: DTO site regata in fase di registrazione
## $sevEventDTO: DTO sev_event
## $siteSequence: String
## $userDTO: Logged User

## insert into sev_event (eventid, eventtitle, eventdescr, eventgroup, eventstatus,applicationstatus) 
##  values ('${siteDTO.site}',${VTH.makeSQLString($siteDTO.sitedescr)},${VTH.makeSQLString($siteDTO.sitedescr)},'cvfonline','running','open');
  
 
insert into r3_userrole ( site, userId, roleid) values ( '${siteDTO.site}', 'root',  'roleadmin' );(EOS)
insert into r3_userrole ( site, userId, roleid) values ( '${siteDTO.site}', 'guest', 'rolebase' );(EOS)

#if ($userDTO && $userDTO.userid != 'root') 
INSERT INTO r3_userrole (site,userid,roleid) VALUES ('${siteDTO.site}','$userDTO.userid','rlregatta_adm');(EOS)
INSERT INTO r3_userrole (site,userid,roleid) VALUES ('${siteDTO.site}','$userDTO.userid','rlregatta_usr');(EOS)
#end

insert into r3_actorgroup (eventid, groupid, grouptitle, groupnature, grouptype, businesskey, grouporder)
 values ('${siteDTO.site}', 'ACGWORKSHOP', 'Partecipanti Workshop', 'user', 'grpt_wsattendee', 'wsattendee', 20);(EOS)

insert into r3_actorgroup (eventid, groupid, grouptitle, groupnature, grouptype, businesskey, grouporder)
 values ('${siteDTO.site}', 'ACGWSEXECS', 'Workshop Executives', 'user', 'grpt_wsexecs', 'wsexecs', 20);(EOS)
 
insert into r3_actorgroup (eventid, groupid, grouptitle, groupnature, grouptype, businesskey, grouporder)
 values ('${siteDTO.site}', 'ACGLOGIN', 'Contatto Log-in', 'system', 'grpt_login', 'login', 20);(EOS)

insert into r3_agenda (site, agendaid, actorid)
 values('${siteDTO.site}', '${siteDTO.site}', '${siteDTO.site}');(EOS)
 
insert into r3_cmscategory (site, categoryid, categorydescr, previewtmpl, fulltmpl, categorymode)
 values('${siteDTO.site}', 'system', 'Speciale Sistema', 'cms_tpl_simple', 'cms_tpl_simple', 'normal');(EOS)

insert into r3_cmscategory (site, categoryid, categorydescr, previewtmpl, fulltmpl, categorymode)
 values('${siteDTO.site}', 'cat_meeting', 'Scheda Meeting', 'cms_tpl_simple', 'cms_tpl_simple', 'promoted');(EOS)

insert into r3_cmscategory (site, categoryid, categorydescr, previewtmpl, fulltmpl,categorymode)
 values('${siteDTO.site}', 'miscellanea', 'Generica', 'cms_tpl_simple', 'cms_tpl_simple', 'promoted');(EOS)

insert into r3_cmscategory (site, categoryid, categorydescr, previewtmpl, fulltmpl,categorymode)
 values('${siteDTO.site}', 'help', 'Help', 'cms_tpl_simple', 'cms_tpl_simple','normal');(EOS)

insert into r3_cmscategory (site, categoryid, categorydescr, previewtmpl, fulltmpl, categorymode)
 values('${siteDTO.site}', 'cat_report', 'Report', 'cms_tpl_simple', 'cms_tpl_simple', 'promoted');(EOS)

     
insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole,attachscope)
 values ('${siteDTO.site}', 'site_banner', 'Grafica 996x100 Top', 'image/jpeg,image/gif,image/png', '996,100', null, 'site_banner', 'site');(EOS)

insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole,attachscope)
 values ('${siteDTO.site}', 'site_icon', 'Grafica Icona 180x100', 'image/jpeg,image/gif,image/png', '180,100', null, 'site_icon', 'site');(EOS)
   
insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole, attachscope)
values ('${siteDTO.site}', 'cms_card_image', 'Immagine Scheda', 'jpg,jpeg,png,gif', '640,480', '180,135', 'cms_card_image', 'default');(EOS)

insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole, attachscope)
values ('${siteDTO.site}', 'cms_linkicon', 'Immagine Per Link', 'jpg,jpeg,png,gif', '180,80', null, 'cms_linkicon', 'default');(EOS)

insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole, attachscope)
values ('${siteDTO.site}', 'cms_htmlexe', 'Embeddable Html Fragment', 'html,htm', null, null, 'cms_htmlexe', 'default');(EOS)

insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole, attachscope)
values ('${siteDTO.site}', 'cms_card_icon', 'Icona Scheda', 'image/jpeg,image/gif,image/png', '180,135', null, 'cms_card_icon', 'default');(EOS)

insert into  r3_cmsattachmenttype (site, attachtypeid, attachtypedescr, contenttype, imagescaling, iconscaling, propertyrole, attachscope)
values ('${siteDTO.site}', 'cms_img_gallery', 'Immagine Gallery', 'image/jpeg,image/gif,image/png', '640,480', '150,150', 'cms_img_gallery', 'default');(EOS)

insert into r3_cmsgroup (site, groupid, groupname, recstatus)
  values('${siteDTO.site}', 'Miscellanea', 'Altre Notizie', 'sys_recact');(EOS)
    
insert into r3_cmsgroup (site, groupid, groupname, recstatus)
  values('${siteDTO.site}', 'grp_meeting', 'Schede Meeting', 'sys_recact');(EOS)

insert into r3_cmsgroup (site, groupid, groupname, recstatus)
  values('${siteDTO.site}', 'grp_report', 'Schede Report', 'sys_recact');(EOS)

##
## Configurazione delle pagine
##
## insert into r3_cmspage (site, pageid, pagetitle, forwardview, visibility, pagetype, pageicon1, pagelink, pageorder, pagestyle)
##   values('${siteDTO.site}', 'console', 'Area Amministrativa', null, 'cmspg_txtmenu', 'page', null, '/org/r3/console/home.do', 45, null);(EOS)

insert into r3_cmspage (site, pageid, pagetitle, forwardview, visibility, pagetype, pageicon1, pageicon2, pagelink, pageorder, pagestyle)
   values('${siteDTO.site}', 'wbses', 'Actions', 'Success', 'cmspg_txtmenu,cmspg_iconmenu', 'page', 'businessplan.jpg', 'business2.jpg', '/org/r3/wbs/wbsfillout.do?pageid=wbses', 15, 'grade3');(EOS)
     
insert into r3_cmspage (site, pageid, pagetitle, forwardview, visibility, pagetype, pageicon1, pageicon2, pagelink, pageorder, pagestyle, viewoptions)
   values('${siteDTO.site}', 'wsmeeting', 'Meetings Workshop', 'grouppage1', 'cmspg_txtmenu,cmspg_iconmenu', 'cmspage', 'business1.jpg', 'business1.jpg', '/org/r3/cms/cmspage.do?pageid=wsmeeting', 15, 'grade2',
   '{"cardindexquery": "groupid=grp_meeting", "cardtemplate": "cms_tpl_cardview_type3", "downloadCanvas": true}'
   );(EOS)

insert into r3_cmspage (site, pageid, pagetitle, forwardview, visibility, pagetype, pageicon1, pageicon2, pagelink, pageorder, pagestyle)
   values('${siteDTO.site}', 'wsreport', 'Reports Workshop', 'Success', 'cmspg_txtmenu,cmspg_iconmenu', 'cmspage', 'business2.jpg', 'business2.jpg', '/org/r3/wbs/wsreport.do?pageid=wsreport', 15, 'grade4');(EOS)
 
insert into r3_cmspage ( 
  site, pageid, pagetype, pagetitle, pagelink, pageorder, visibility, pagestyle, forwardview, onuserstatus, permissions, viewoptions ) 
  values('${siteDTO.site}', 'contacts', 'page', 'Contatti', '/org/r3/console/contacts.do', 20, 'cmspg_consolemenu', 'grade1', 'Success', 'userlogged', null, null) 
  ;(EOS)
   
insert into r3_cmspage ( 
  site, pageid, pagetype, pagetitle, pagelink, pageorder, visibility, pagestyle, forwardview, onuserstatus, permissions, viewoptions ) 
  values('${siteDTO.site}', 'manage_cms', 'page', 'Contenuti CMS', '/org/r3/console/cms/cards.do', 40, 'cmspg_consolemenu', 'grade1', 'Success', 'userlogged', null, null) 
  ;(EOS)

insert into r3_cmspage ( 
  site, pageid, pagetype, pagetitle, pagelink, pageorder, visibility, pagestyle, forwardview, onuserstatus, permissions, viewoptions ) 
  values('${siteDTO.site}', 'manage_bbs', 'page', 'Discussioni (BBS)', '/org/r3/console/bbs.do', 50, 'cmspg_consolemenu', 'grade1', 'Success', 'userlogged', null, null) 
  ;(EOS)
  
insert into r3_cmspage ( 
  site, pageid, pagetype, pagetitle, pagelink, pageorder, visibility, pagestyle, forwardview, onuserstatus, permissions, viewoptions ) 
  values('${siteDTO.site}', 'manage_wbs', 'page', 'Amministrazione WBS', '/org/r3/console/wbs.do', 60, 'cmspg_consolemenu', 'grade1', 'Success', 'userlogged', null, null) 
  ;(EOS)

insert into r3_cmspage ( 
  site, pageid, pagetype, pagetitle, pagelink, pageorder, visibility, pagestyle, forwardview, onuserstatus, permissions, viewoptions ) 
  values('${siteDTO.site}', 'siteconfig', 'page', 'Configurazione', '/org/r3/console/siteconfig.do', 70, 'cmspg_consolemenu', 'grade1', 'Success', 'userlogged', null, null) 
  ;(EOS)
     
insert into r3_cmspagedescr (site, pageid, languagecode, pagetitle)
  select site, pageid, 'it', pagetitle from r3_cmspage where site = '${siteDTO.site}';(EOS)
  
##
## Site Properties
##
insert into r3_siteproperty 
 (site, propertyscope, propertykey, propertyvalue)
 select '${siteDTO.site}', propertyscope, propertykey, propertyvalue 
 from r3_siteproperty 
 where site = '__tmpl__';(EOS)
 
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','google.analytics','domain','cvfiumicino.org');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','google.analytics','trackerid','UA-48183016-1');(EOS)

INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','fiv','fivclubid','171');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','fiv','fivpasswd','ia1ia1');(EOS)

INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sev.app','boatinfoform_otherinfo','btrue');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sev.app','boatinfoform_sailcloth','btrue');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sev.app','classinfoform_apptype','btrue');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sev.app','classinfoform_grancrocieraorc','bfalse');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sev.app','classinfoform_racegroupdecl','bfalse');(EOS)

INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sev.ranking','maxraces','7');(EOS)

INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sms','smslogin','sbuser1303');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sms','smspasswd','dwhmr73');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','sms','smssender','cvf2');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','ui.cfg','menus','socialmenu,iconmenu,txtmenu');(EOS)
INSERT INTO r3_siteproperty (site, propertyscope, propertykey, propertyvalue) VALUES ('${siteDTO.site}','ui.cfg','menusitems','trackermenu,rankingmenu,pressroommenu');(EOS)

## OUTMAIL ---------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
  VALUES ('${siteDTO.site}','OUTMAIL','Posta in uscita','none',NULL,NULL,'2014-01-24',NULL,'never',NULL,NULL,'sys_recact','2014-01-24 19:58:43','miscellanea');(EOS)

##
## Help CMS Cards
##
## HLP_CHANGEPWDOK ---------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','HLP_CHANGEPWDOK','Help: Cambio Parola Chiave OK','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)
 
INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','HLP_CHANGEPWDOK','it','Modifica Parola Chiave','Modifica Parola Chiave','<p>Operazione terminata con successo</p>','sys_recact',NULL);(EOS)
 
## HLP_REGISTRATION --------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','HLP_REGISTRATION','HELP: Registrazione','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)

INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','HLP_REGISTRATION','it','Help Registrazione','Help Registrazione','<h2>Aiuto rapido</h2>
<p>Per procedere con la registrazione compilare i campi riportati. Nel caso il codice di sicurezza non risulti facilmente leggibile e&#39; possibile aggiornarlo attivando l&#39;icona posta sulla destra del codice stesso.</p>
<p>A valle della registrazione vi verra&#39; inviato un messaggio di posta elettronica contenente un link da attivare per il corretto completamento della registrazione.</p>','sys_recact',NULL);(EOS)

## HLP_RESETPWD --------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','HLP_RESETPWD','HELP: Reset Parola Chiave','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)

INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','HLP_RESETPWD','it','Reset Parola Chiave','Reset Parola Chiave','<h2>Aiuto Rapido</h2>
<p>Nel caso vi siate dimenticati la vostra parola chiave e&#39; possibile chiedere aiuto al sistema. Dopo aver compilato la scheda seguente e indicato il vostro indirizzo di posta elettronica il sistema vi inviera&#39; una mail con la nuova parola chiave necessaria per l&#39;accesso al sito.</p>','sys_recact',NULL);(EOS)

## HLP_RESETPWDOK --------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','HLP_RESETPWDOK','Help: Reset Password OK','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)

INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','HLP_RESETPWDOK','it','Reset Parola Chiave OK','Reset Parola Chiave OK','<h2>Reset Parola Chiave</h2>
<p>L&#39;operazione e&#39; terminata con successo. A breve riceverete una email con la nuova parola chiave necessaria per l&#39;accesso al sito.</p>','sys_recact',NULL);(EOS)

## HLP_USRREG_OK --------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','HLP_USRREG_OK','Help: Registrazione OK','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)

INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','HLP_USRREG_OK','it','Registrazione Utente OK','Registrazione Utente OK','<p>La registrazione ha avuto esito positivo. A breve riceverai una email contenente un link da attivare che completera&#39; l&#39;iter.</p>
<p>&nbsp;</p>','sys_recact',NULL);(EOS)

##
## Application Info Cards
##

##
## Schede Registrazione OK - KO
##
## REGACT_KO --------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','REGACT_KO','Attivazione KO','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)

INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','REGACT_KO','it','Attivazione Fallita','Attivazione Fallita','<h2>Errore nell&#39;attivazione dell&#39;utenza</h2>
<p>Si e&#39; verificata un&#39;anomalia nella procedura di attivazione della tua utenza. E&#39; possibile che il link utilizzato per l&#39;attivazione non risulti piu&#39; valido. Ti preghiamo di contattare la segreteria per le verifiche del caso.</p>
<p>Grazie</p>
<p><strong>Franco Quadrana Presidente Circolo Velico di Fiumicino</strong></p>','sys_recact',NULL);(EOS)

## REGACT_OK --------
INSERT INTO r3_cmscard (site,cardid,systemtitle,pagelinktype,pagelink,pageid,refdate,options,validityrule,validfrom,validto,recstatus,rectimestamp,categoryid) 
 VALUES ('${siteDTO.site}','REGACT_OK','Attivazione OK','none',NULL,NULL,NULL,NULL,'always',NULL,NULL,'sys_recact',NULL,'help');(EOS)
 
INSERT INTO r3_cmscarddescr (site,cardid,languagecode,title,summary,textbody,recstatus,rectimestamp)
 VALUES ('${siteDTO.site}','REGACT_OK','it','Attivazione Utenza OK','Attivazione Utenza OK','<p>Utenza attivata con successo.</p>
<p>A nome del Circolo ti ringraziamo per esserti registrato.</p>
<p>Grazie,</p>
<p><strong>Franco Quadrana - Presidente Circolo Velico di Fiumicino</strong></p>','sys_recact',NULL);(EOS)
 
