<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- <mapper resource="it/posteitaliane/unep/db/script/SQLStatementMapper.xml"/> -->
<mapper namespace="org.r3.db.system.script.SQLStatementMapper" >

  <insert id="insert" parameterType="string" >
  ${statement}
  </insert>
  
  <update id="update" parameterType="string" >
  ${statement}
  </update>
  
  <delete id="delete" parameterType="string" >
  ${statement}
  </delete>

</mapper>
