##
## Variabili in ingresso:
##     String                     as $schemehostport
##     String                     as $targetSite
##     String                     as $targetLanguage
##     String                     as $targetSiteDomain 
##     List<UserDTO>              as $listOfUserObj
##     String                     as $userPassword
##

<p>
Gentile utente,<br />
in seguito alla tua richiesta abbiamo provveduto ad assegnare una nuova parola chiave alla/e tua/e utenza/e. Di seguito potrai trovare
le nuove coordinate per accedere al sito. 
</p> 

<ul>
#foreach ( $userDTO in $listOfUserObj )
<li>Nickname/Utenza: $userDTO.nickname - Parola Chiave: $userPassword</li>
#end
</ul>

<p>
Distinti Saluti,<br />
Team R3
</p>
