##
## Variabili in ingresso:
##     ServiceEnvironment         as $senv 
##     UserDTO                    as $userObj
##     OTPDTO                     as $otpObj
##
## The variable userDataBean is supposed to hold the GWFUserDataBean
## The variable password contains the imposed user password.

<p>
Prezado $userObj.lastname,<br />
Para confirmar o seu endereço de e-mail e concluir o cadastro, você pode usar o seguinte link:<br /> 
<a href="${schemehostport}/r3ng/${targetSite}/${targetLanguage}/org/r3/registration/activate.do?otp=$otpObj.digest">Clique aqui para confirmar o cadastro</a>
</p>

<p>
Se o link não funcionar, você pode copiar e colar no seu navegador o seguinte enderço:<br />
${schemehostport}/r3ng/${targetSite}/${targetLanguage}/org/r3/registration/activate.do?otp=$otpObj.digest
</p>

<p>
Por favor, você tem 48 horas para confirmar o endereço, depois você precisara re-iniciar o processo de cadastro.<br />
Boa navegação.
</p>
 
<p>
Saudações,,<br />
Equipe S100
</p>

<p>
Gentile $userObj.lastname,<br />
per confermare il tuo indirizzo di posta elettronica e completare la registrazione, puoi utilizzare il seguente link<br /> 
<a href="${schemehostport}/r3ng/${targetSite}/${targetLanguage}/org/r3/registration/activate.do?otp=$otpObj.digest">Per confermare la registrazione clicca qui</a>
</p>

<p>
Qualora non fosse cliccabile, puoi copiare e incollare nella barra del tuo browser il seguente indirizzo:<br />
${schemehostport}/r3ng/${targetSite}/${targetLanguage}/org/r3/registration/activate.do?otp=$otpObj.digest
</p>

<p>
Ti ricordiamo che per confermare l'indirizzo hai a disposizione 48 ore, al termine delle quali dovrai nuovamente avviare il processo di registrazione.<br />
Buona navigazione.
</p>
 
<p>
Distinti Saluti,<br />
Team S100
</p>
