##
## Variabili in ingresso:
##     String                     as $schemehostport
##     String                     as $targetSite
##     String                     as $targetLanguage
##     String                     as $targetSiteDomain 
##     List<UserDTO>              as $listOfUserObj
##     String                     as $userPassword
##
<p>
Prezado usuário,<br />
após o seu pedido nós atribuímos a você uma nova senha. Abaixo, você tem o novo link para acessar o site.
</p> 

<ul>
#foreach ( $userDTO in $listOfUserObj )
<li>Nickname/Usuário: $userDTO.nickname - Senha: $userPassword</li>
#end
</ul>

<p>
Cumprimentos,<br />
Team S100
</p>


<p>
Gentile utente,<br />
in seguito alla tua richiesta abbiamo provveduto ad assegnare una nuova parola chiave alla/e tua/e utenza/e. Di seguito potrai trovare
le nuove coordinate per accedere al sito. 
</p> 

<ul>
#foreach ( $userDTO in $listOfUserObj )
<li>Nickname/Utenza: $userDTO.nickname - Parola Chiave: $userPassword</li>
#end
</ul>

<p>
Distinti Saluti,<br />
Team S100
</p>
