<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  TODO: xmlCopyRight.txt
   
  -->
<!--
  TODO: xmlReadme.txt
   
  -->

<!-- <mapper resource="org/r3/db/cms/page/PageMapper.xml"/> -->
<mapper namespace="org.r3.db.cms.page.PageMapper" >
    <resultMap id="BaseResultMap" type="org.r3.db.cms.page.PageDTO" >
         <id column="site" property="site" jdbcType="VARCHAR" />
           <id column="pageid" property="pageid" jdbcType="VARCHAR" />
           <result column="pagetype" property="pagetype" jdbcType="VARCHAR" />
           <result column="pagetitle" property="pagetitle" jdbcType="VARCHAR" />
           <result column="pageicon1" property="pageicon1" jdbcType="VARCHAR" />
           <result column="pageicon2" property="pageicon2" jdbcType="VARCHAR" />
           <result column="pagelink" property="pagelink" jdbcType="VARCHAR" />
           <result column="pageorder" property="pageorder" jdbcType="INTEGER" />
           <result column="visibility" property="visibility" jdbcType="VARCHAR" />
           <result column="pagestyle" property="pagestyle" jdbcType="VARCHAR" />
           <result column="forwardview" property="forwardview" jdbcType="VARCHAR" />
           <result column="onuserstatus" property="onuserstatus" jdbcType="VARCHAR" />
           <result column="permissions" property="permissions" jdbcType="VARCHAR" />
           <result column="viewoptions" property="viewoptions" jdbcType="VARCHAR" />
    </resultMap>

  <sql id="Filter_Where_Clause" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.subSelectCriterion" >
                  and ${criterion.prefixCondition} #{criterion.value} ${criterion.suffixCondition}
                </when>                                
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <!--
  <sql id="Filter_Where_Clause_4_Update" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  -->  
  <sql id="Base_Column_List" >
    site,  pageid,  pagetype,  pagetitle,  pageicon1,  pageicon2,  pagelink,  pageorder,  visibility,
  pagestyle,  forwardview,  onuserstatus,  permissions,  viewoptions  </sql>
  <select id="selectBySitePageid" resultMap="BaseResultMap" parameterType="HashMap" >
    select 
    <include refid="Base_Column_List" />
    from r3_cmspage
    where  site = #{site,jdbcType=VARCHAR} and  pageid = #{pageid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteBySitePageid" parameterType="HashMap" >
    delete
    from r3_cmspage
    where  site = #{site,jdbcType=VARCHAR} and  pageid = #{pageid,jdbcType=VARCHAR}
  </delete>  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from r3_cmspage    
    where  site = #{pk.site,jdbcType=VARCHAR} and  pageid = #{pk.pageid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete
    from r3_cmspage
    where  site = #{pk.site,jdbcType=VARCHAR} and  pageid = #{pk.pageid,jdbcType=VARCHAR}
  </delete>  
  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="filter != null &amp;&amp; filter.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from r3_cmspage
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <if test="filter != null &amp;&amp; filter.orderByClause != null" >
      order by ${filter.orderByClause}
    </if>
    <if test="filter != null &amp;&amp; filter.limitFetch > 0" >
      limit ${filter.limitFetch}
    </if>
  </select>
  <select id="count" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from r3_cmspage
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>  
  <delete id="delete" parameterType="map" >
    delete from r3_cmspage
    <!-- _parameter: dato che e' una map lo sostituisco con il nome del parametro in quanto non è l'unico -->
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into r3_cmspage (
 site, pageid, pagetype, pagetitle, pageicon1, pageicon2, pagelink, pageorder, visibility,
 pagestyle, forwardview, onuserstatus, permissions, viewoptions      )
    values (
 
 #{record.site,jdbcType=VARCHAR}, 
 #{record.pageid,jdbcType=VARCHAR}, 
 #{record.pagetype,jdbcType=VARCHAR}, 
 #{record.pagetitle,jdbcType=VARCHAR},
 
 #{record.pageicon1,jdbcType=VARCHAR}, 
 #{record.pageicon2,jdbcType=VARCHAR}, 
 #{record.pagelink,jdbcType=VARCHAR}, 
 #{record.pageorder,jdbcType=INTEGER},
 
 #{record.visibility,jdbcType=VARCHAR}, 
 #{record.pagestyle,jdbcType=VARCHAR}, 
 #{record.forwardview,jdbcType=VARCHAR}, 
 #{record.onuserstatus,jdbcType=VARCHAR},
 
 #{record.permissions,jdbcType=VARCHAR}, 
 #{record.viewoptions,jdbcType=VARCHAR}
      )
  </insert>
  <update id="update" parameterType="map" >
    update r3_cmspage
    <set >
      <if test="record.pagetypeDirty" >
        pagetype = #{record.pagetype,jdbcType=VARCHAR},
      </if>      
      <if test="record.pagetitleDirty" >
        pagetitle = #{record.pagetitle,jdbcType=VARCHAR},
      </if>      
      <if test="record.pageicon1Dirty" >
        pageicon1 = #{record.pageicon1,jdbcType=VARCHAR},
      </if>      
      <if test="record.pageicon2Dirty" >
        pageicon2 = #{record.pageicon2,jdbcType=VARCHAR},
      </if>      
      <if test="record.pagelinkDirty" >
        pagelink = #{record.pagelink,jdbcType=VARCHAR},
      </if>      
      <if test="record.pageorderDirty" >
        pageorder = #{record.pageorder,jdbcType=INTEGER},
      </if>      
      <if test="record.visibilityDirty" >
        visibility = #{record.visibility,jdbcType=VARCHAR},
      </if>      
      <if test="record.pagestyleDirty" >
        pagestyle = #{record.pagestyle,jdbcType=VARCHAR},
      </if>      
      <if test="record.forwardviewDirty" >
        forwardview = #{record.forwardview,jdbcType=VARCHAR},
      </if>      
      <if test="record.onuserstatusDirty" >
        onuserstatus = #{record.onuserstatus,jdbcType=VARCHAR},
      </if>      
      <if test="record.permissionsDirty" >
        permissions = #{record.permissions,jdbcType=VARCHAR},
      </if>      
      <if test="record.viewoptionsDirty" >
        viewoptions = #{record.viewoptions,jdbcType=VARCHAR},
      </if>      
    </set>
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
      <!-- Non dovrebbe servire in quanto il filter e' sempre named. -->
      <!-- <include refid="Filter_Where_Clause_4_Update" /> -->
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update r3_cmspage
    <set >
      <if test="record.pagetypeDirty" >
        pagetype = #{record.pagetype,jdbcType=VARCHAR},
      </if>
      <if test="record.pagetitleDirty" >
        pagetitle = #{record.pagetitle,jdbcType=VARCHAR},
      </if>
      <if test="record.pageicon1Dirty" >
        pageicon1 = #{record.pageicon1,jdbcType=VARCHAR},
      </if>
      <if test="record.pageicon2Dirty" >
        pageicon2 = #{record.pageicon2,jdbcType=VARCHAR},
      </if>
      <if test="record.pagelinkDirty" >
        pagelink = #{record.pagelink,jdbcType=VARCHAR},
      </if>
      <if test="record.pageorderDirty" >
        pageorder = #{record.pageorder,jdbcType=INTEGER},
      </if>
      <if test="record.visibilityDirty" >
        visibility = #{record.visibility,jdbcType=VARCHAR},
      </if>
      <if test="record.pagestyleDirty" >
        pagestyle = #{record.pagestyle,jdbcType=VARCHAR},
      </if>
      <if test="record.forwardviewDirty" >
        forwardview = #{record.forwardview,jdbcType=VARCHAR},
      </if>
      <if test="record.onuserstatusDirty" >
        onuserstatus = #{record.onuserstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.permissionsDirty" >
        permissions = #{record.permissions,jdbcType=VARCHAR},
      </if>
      <if test="record.viewoptionsDirty" >
        viewoptions = #{record.viewoptions,jdbcType=VARCHAR},
      </if>
    </set>
    where  site = #{record.site,jdbcType=VARCHAR} and  pageid = #{record.pageid,jdbcType=VARCHAR}
  </update>

</mapper>
