<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  TODO: xmlCopyRight.txt
   
  -->
<!--
  TODO: xmlReadme.txt
   
  -->



<!-- <mapper resource="org/r3/db/system/user/userprofileview/UserProfileViewMapper.xml"/> -->
<mapper namespace="org.r3.db.system.user.userprofileview.UserProfileViewMapper" >
    <resultMap id="BaseResultMap" type="org.r3.db.system.user.userprofileview.UserProfileViewDTO" >
         <result column="userid" property="userid" jdbcType="VARCHAR" />
           <result column="nickname" property="nickname" jdbcType="VARCHAR" />
           <result column="password" property="password" jdbcType="VARCHAR" />
           <result column="firstname" property="firstname" jdbcType="VARCHAR" />
           <result column="lastname" property="lastname" jdbcType="VARCHAR" />
           <result column="companyid" property="companyid" jdbcType="VARCHAR" />
           <result column="usertype" property="usertype" jdbcType="VARCHAR" />
           <result column="avatarrole" property="avatarrole" jdbcType="VARCHAR" />
           <result column="parentuserid" property="parentuserid" jdbcType="VARCHAR" />
           <result column="userphoto" property="userphoto" jdbcType="VARCHAR" />
           <result column="lastlogin" property="lastlogin" jdbcType="TIMESTAMP" />
           <result column="numberoflogins" property="numberoflogins" jdbcType="INTEGER" />
           <result column="userconsent" property="userconsent" jdbcType="VARCHAR" />
           <result column="fbuserid" property="fbuserid" jdbcType="VARCHAR" />
           <result column="recstatus" property="recstatus" jdbcType="VARCHAR" />
          <collection property="sitePermissions" column="site" ofType="org.r3.db.system.user.userprofileview.SitePermissionDTO">
           		<id column="site" property="site" jdbcType="VARCHAR" />           
           		<collection property="roles" column="roleid" ofType="org.r3.db.system.user.userprofileview.RoleDTO">
           			<id column="roleid" property="roleid" jdbcType="VARCHAR" />
           			<collection property="functions" column="functioncode" ofType="org.r3.db.system.user.userprofileview.FunctionDTO">
           				<id column="functioncode" property="functioncode" jdbcType="VARCHAR" />
           			</collection>                      
           		</collection>                                            
           </collection>               
    </resultMap>

  <sql id="Filter_Where_Clause" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose>
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.subSelectCriterion" >
                  and ${criterion.prefixCondition} #{criterion.value} ${criterion.suffixCondition}
                </when>                                
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid,  nickname,  password,  firstname,  lastname,  companyid,  usertype,  avatarrole,  parentuserid,
  userphoto,  lastlogin,  numberoflogins,  userconsent,  fbuserid,  recstatus,  site,  roleid,  functioncode  </sql>
  
  <sql id='GroupBy_Column_List'>
    <trim suffixOverrides=",">
        <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('userid')" >
           userid,
       </when>
       <otherwise>
           null as userid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('nickname')" >
           nickname,
       </when>
       <otherwise>
           null as nickname,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('password')" >
           password,
       </when>
       <otherwise>
           null as password,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('firstname')" >
           firstname,
       </when>
       <otherwise>
           null as firstname,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('lastname')" >
           lastname,
       </when>
       <otherwise>
           null as lastname,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('companyid')" >
           companyid,
       </when>
       <otherwise>
           null as companyid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('usertype')" >
           usertype,
       </when>
       <otherwise>
           null as usertype,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('avatarrole')" >
           avatarrole,
       </when>
       <otherwise>
           null as avatarrole,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('parentuserid')" >
           parentuserid,
       </when>
       <otherwise>
           null as parentuserid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('userphoto')" >
           userphoto,
       </when>
       <otherwise>
           null as userphoto,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('lastlogin')" >
           lastlogin,
       </when>
       <otherwise>
           null as lastlogin,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('numberoflogins')" >
           numberoflogins,
       </when>
       <otherwise>
           null as numberoflogins,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('userconsent')" >
           userconsent,
       </when>
       <otherwise>
           null as userconsent,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('fbuserid')" >
           fbuserid,
       </when>
       <otherwise>
           null as fbuserid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('recstatus')" >
           recstatus,
       </when>
       <otherwise>
           null as recstatus,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('site')" >
           site,
       </when>
       <otherwise>
           null as site,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('roleid')" >
           roleid,
       </when>
       <otherwise>
           null as roleid,
       </otherwise>         
     </choose> 
	       <choose>
       <when test="filter != null &amp;&amp; filter.isGroupBy('functioncode')" >
           functioncode,
       </when>
       <otherwise>
           null as functioncode,
       </otherwise>         
     </choose> 
	       </trim>       
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="filter != null &amp;&amp; filter.distinct" >
      distinct
    </if>
    <choose>
       <when test="filter != null &amp;&amp; filter.groupByClause != null">
           <include refid="GroupBy_Column_List" />
       </when>
       <otherwise>
           <include refid="Base_Column_List" />
       </otherwise>
    </choose>
    
    from r3_view_userprofile
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <if test="filter != null &amp;&amp; filter.groupByClause != null" >
      group by ${filter.groupByClause}
    </if>    
    <if test="filter != null &amp;&amp; filter.orderByClause != null" >
      order by ${filter.orderByClause}
    </if>
    <if test="filter != null &amp;&amp; filter.limitFetch > 0" >
      limit ${filter.limitFetch}
    </if>
  </select>
  <select id="count" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from r3_view_userprofile
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>  
</mapper>
