<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
  TODO: xmlCopyRight.txt
   
  -->
<!--
  TODO: xmlReadme.txt
   
  -->

<!-- <mapper resource="org/r3/db/project/resourcetimesheet/ResourceTimesheetMapper.xml"/> -->
<mapper namespace="org.r3.db.project.resourcetimesheet.ResourceTimesheetMapper" >
    <resultMap id="BaseResultMap" type="org.r3.db.project.resourcetimesheet.ResourceTimesheetDTO" >
         <id column="tsentryid" property="tsentryid" jdbcType="VARCHAR" />
           <result column="caleveday" property="caleveday" jdbcType="INTEGER" />
           <result column="site" property="site" jdbcType="VARCHAR" />
           <result column="teamid" property="teamid" jdbcType="VARCHAR" />
           <result column="resourceid" property="resourceid" jdbcType="VARCHAR" />
           <result column="uniteffort" property="uniteffort" jdbcType="VARCHAR" />
           <result column="ordeffort" property="ordeffort" jdbcType="INTEGER" />
           <result column="exteffort" property="exteffort" jdbcType="INTEGER" />
           <result column="oncalleffort" property="oncalleffort" jdbcType="INTEGER" />
           <result column="tseuserid" property="tseuserid" jdbcType="VARCHAR" />
           <result column="recstatus" property="recstatus" jdbcType="VARCHAR" />
           <result column="rectimestamp" property="rectimestamp" jdbcType="TIMESTAMP" />
    </resultMap>

  <sql id="Filter_Where_Clause" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.subSelectCriterion" >
                  and ${criterion.prefixCondition} #{criterion.value} ${criterion.suffixCondition}
                </when>                                
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <!--
  <sql id="Filter_Where_Clause_4_Update" >
    <where >
      <foreach collection="filter.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  -->  
  <sql id="Base_Column_List" >
    tsentryid,  caleveday,  site,  teamid,  resourceid,  uniteffort,  ordeffort,  exteffort,  oncalleffort,
  tseuserid,  recstatus,  rectimestamp  </sql>
  <select id="selectByTsentryid" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from prj_resourcets
    where tsentryid = #{tsentryid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByTsentryid" parameterType="map" >
    delete
    from prj_resourcets
    where tsentryid = #{tsentryid,jdbcType=VARCHAR}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from prj_resourcets    
    where  tsentryid = #{pk.tsentryid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete
    from prj_resourcets
    where  tsentryid = #{pk.tsentryid,jdbcType=VARCHAR}
  </delete>  
  <select id="select" resultMap="BaseResultMap" parameterType="map" >
    select
    <if test="filter != null &amp;&amp; filter.distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prj_resourcets
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
    <if test="filter != null &amp;&amp; filter.orderByClause != null" >
      order by ${filter.orderByClause}
    </if>
    <if test="filter != null &amp;&amp; filter.limitFetch > 0" >
      limit ${filter.limitFetch}
    </if>
  </select>
  <select id="count" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from prj_resourcets
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </select>  
  <delete id="delete" parameterType="map" >
    delete from prj_resourcets
    <!-- _parameter: dato che e' una map lo sostituisco con il nome del parametro in quanto non è l'unico -->
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="map" >
    insert into prj_resourcets (
 tsentryid, caleveday, site, teamid, resourceid, uniteffort, ordeffort, exteffort, oncalleffort,
 tseuserid, recstatus, rectimestamp      )
    values (
 
 #{record.tsentryid,jdbcType=VARCHAR}, 
 #{record.caleveday,jdbcType=INTEGER}, 
 #{record.site,jdbcType=VARCHAR}, 
 #{record.teamid,jdbcType=VARCHAR},
 
 #{record.resourceid,jdbcType=VARCHAR}, 
 #{record.uniteffort,jdbcType=VARCHAR}, 
 #{record.ordeffort,jdbcType=INTEGER}, 
 #{record.exteffort,jdbcType=INTEGER},
 
 #{record.oncalleffort,jdbcType=INTEGER}, 
 #{record.tseuserid,jdbcType=VARCHAR}, 
 #{record.recstatus,jdbcType=VARCHAR}, 
 #{record.rectimestamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="update" parameterType="map" >
    update prj_resourcets
    <set >
      <if test="record.calevedayDirty" >
        caleveday = #{record.caleveday,jdbcType=INTEGER},
      </if>      
      <if test="record.siteDirty" >
        site = #{record.site,jdbcType=VARCHAR},
      </if>      
      <if test="record.teamidDirty" >
        teamid = #{record.teamid,jdbcType=VARCHAR},
      </if>      
      <if test="record.resourceidDirty" >
        resourceid = #{record.resourceid,jdbcType=VARCHAR},
      </if>      
      <if test="record.uniteffortDirty" >
        uniteffort = #{record.uniteffort,jdbcType=VARCHAR},
      </if>      
      <if test="record.ordeffortDirty" >
        ordeffort = #{record.ordeffort,jdbcType=INTEGER},
      </if>      
      <if test="record.exteffortDirty" >
        exteffort = #{record.exteffort,jdbcType=INTEGER},
      </if>      
      <if test="record.oncalleffortDirty" >
        oncalleffort = #{record.oncalleffort,jdbcType=INTEGER},
      </if>      
      <if test="record.tseuseridDirty" >
        tseuserid = #{record.tseuserid,jdbcType=VARCHAR},
      </if>      
      <if test="record.recstatusDirty" >
        recstatus = #{record.recstatus,jdbcType=VARCHAR},
      </if>      
      <if test="record.rectimestampDirty" >
        rectimestamp = #{record.rectimestamp,jdbcType=TIMESTAMP},
      </if>      
    </set>
    <if test="filter != null" >
      <include refid="Filter_Where_Clause" />
      <!-- Non dovrebbe servire in quanto il filter e' sempre named. -->
      <!-- <include refid="Filter_Where_Clause_4_Update" /> -->
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="map" >
    update prj_resourcets
    <set >
      <if test="record.calevedayDirty" >
        caleveday = #{record.caleveday,jdbcType=INTEGER},
      </if>
      <if test="record.siteDirty" >
        site = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.teamidDirty" >
        teamid = #{record.teamid,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceidDirty" >
        resourceid = #{record.resourceid,jdbcType=VARCHAR},
      </if>
      <if test="record.uniteffortDirty" >
        uniteffort = #{record.uniteffort,jdbcType=VARCHAR},
      </if>
      <if test="record.ordeffortDirty" >
        ordeffort = #{record.ordeffort,jdbcType=INTEGER},
      </if>
      <if test="record.exteffortDirty" >
        exteffort = #{record.exteffort,jdbcType=INTEGER},
      </if>
      <if test="record.oncalleffortDirty" >
        oncalleffort = #{record.oncalleffort,jdbcType=INTEGER},
      </if>
      <if test="record.tseuseridDirty" >
        tseuserid = #{record.tseuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.recstatusDirty" >
        recstatus = #{record.recstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.rectimestampDirty" >
        rectimestamp = #{record.rectimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where  tsentryid = #{record.tsentryid,jdbcType=VARCHAR}
  </update>

</mapper>
