<div class="panel tabbed-panel ">
  <div class="panel-heading" >  
    <h3 class="panel-title" >Team: <span id='teamresourceform_teamdescr'></span></h3>
  </div>
  
  <div class="panel-body">

  <div id="teamresource_fieldset_message" ></div>
  <div class="panel ">
  <div class="panel-body ">
  
  <form id="teamresource_form" method="POST" class='form-horizontal'>
  <input type='hidden' name="teamid" id="teamresourceform_teamid" />
  <!-- 
  <input type='hidden' name="resourceid" id="teamresourceform_resourceid" />
   -->
   
  <div class='row'>
  <div class='col-md-6'>

  <!-- 
  <div class="form-group">
    <label class="col-md-4 control-label">{%=org.r3.db.project.resource.message.resourcedescr%}</label>
    <div class='col-md-8'>
    <input type='text' class="form-control"  name="resourcedescr" id="teamresourceform_resourcedescr" readonly />
    </div>
  </div>
  -->
  
  <div class="form-group">
    <label class="col-md-4 control-label fieldRequired">{%=org.r3.db.project.resource.message.resourcedescr%}</label>
    <div class='col-md-8'>
    <select class="form-control"  name="resourceid" id="teamresourceform_resourceid" ></select>
    </div>
  </div>

  
  
  <div class="form-group">
    <label class="col-md-4 control-label fieldRequired">{%=org.r3.db.project.teamresource.message.profileid%}</label>
    <div class='col-md-8'>
    <select class="form-control"  name="profileid" id="teamresourceform_profileid" ></select>
    </div>
  </div>
           
  </div>
  
  <div class='col-md-6'>
  
   
  </div>  
  </div>
       
  </form>
  
  <div class="form-action-bar">
		
        <button type="button" id="teamresourceform_action_save" class="btn btn-default" >
          <span>Salva</span>
        </button>

        <button type="button" id="teamresourceform_action_clear" class="btn btn-default" >
          <span>Pulisci</span>
        </button>            
   </div>
      
  </div>
</div>

{% if (o.buttons)  { %}
 <div class="action-bar position-top">
  {% for(var i = 0; i < o.buttons.length; i++) { %}
    <button type="button" class="btn btn-primary start" id="{%=o.buttons[i].id%}"{% if (o.buttons[i].disabled) { %} disabled {% } %} >
      <span>{%=o.buttons[i].label%}</span>
    </button>
    {% } %}
 </div>
{% } %}
 
 <table id="TeamResourcesActionFormView" style='width: 100%' class="table table-striped table-bordered table-hover {%=o.gradeLevel%}" >
        <tbody>
        </tbody>
    </table>
    


</div>
</div>

   


